<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mac's Recipe Book</title>
</head>
<body>
    <!-- Masthead class wraps navigation and page title in hero image -->
    <div class="masthead">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    
        {% block title %}
        {% endblock %}
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 