{% extends "base.html" %}

{% block content %}
    <p>If you have any ideas on how to improve the functionality of the site or would like to speak to a member of our team, please see our details below!</p>
    <!-- Enter fake contact details here -->
    <p>
        John Doe<br>
        Mac's Recipes<br>
        Newcastle Upon Tyne<br>
        NE1
    </p>
    <!-- Connect google maps API and mark a fake location of office base -->
    <p>
        Placement area for google maps API
    </p>
{% endblock %}